# EDA

In [53]:
import pandas as pd

# Had to "pip install openpyxl"

dataset = pd.read_excel("pr11_credit_scores.xlsx")

# Things to do

- Essential to understand every variable of the dataset
- Check whether the columns are the right type
    - If no, force the correct type.
- After knowing data:
    - Plot and and see summary statistics
    - Check the unique values of each
    - Check if the data make makes sense
        - If not, see the most correct way to deal with it
- Check multicollinearity? How important is it when you would run a more advanced model?
- Check class imbalance in target variable. Is it necessary to do any sort of balancing?
- Would it be good to apply feature enginnering?
- Remove duplicates

In [54]:
dataset.describe(include="all")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
count,100000,100000,100000,90015,99909.0,99909,99909,99909,84920.000000,99909.000000,...,100000,100000,100000.000000,90970,100000,100000.000000,95521,100000,98800,100000
unique,100000,12500,44,10139,1799.0,12501,31,18936,NaN,NaN,...,4,13178,NaN,404,3,NaN,91049,13,98792,3
top,0x1602,CUS_0xd40,August,Langep,38.0,#F%$D@*&8,_______,17273.83,NaN,NaN,...,Standard,1360.45,NaN,15 Years and 11 Months,Yes,NaN,__10000__,Low_spent_Small_value_payments,__-333333333333333333333333333__,Standard
freq,1,8,12384,44,2831.0,5565,7055,16,NaN,NaN,...,36479,24,NaN,446,52326,NaN,4305,25487,9,53174
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4194.071131,17.104395,...,NaN,NaN,32.285173,NaN,NaN,1403.118217,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3183.605038,117.454091,...,NaN,NaN,5.116875,NaN,NaN,8306.041270,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,303.645417,-1.000000,...,NaN,NaN,20.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1625.597917,3.000000,...,NaN,NaN,28.052567,NaN,NaN,30.306660,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3093.745000,6.000000,...,NaN,NaN,32.305784,NaN,NaN,69.249473,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5957.448333,7.000000,...,NaN,NaN,36.496663,NaN,NaN,161.224249,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15204.633333,1798.000000,...,NaN,NaN,50.000000,NaN,NaN,82331.000000,NaN,NaN,NaN,NaN

In [55]:
# Checking the logic and information of each of the variables

# Why do we have 100k customer IDs and just 12500 customerIDs?

# dataset.groupby("Customer_ID")["ID"].count().describe() 
# With this line of code we discover that each Customer_ID has 8 corresponding IDs.


# Which information is aggregated by Customer_ID? To know this, we gorup variables by Customer_ID and evaluate whether the number of unique value is 1 or not.

variables_by_customer_id = []
variables_by_id = []
other_variables = []


for variable in dataset.drop("Customer_ID", axis = 1).columns:
    summary_stats = dataset.groupby("Customer_ID")[variable].nunique().describe()
    if summary_stats["mean"] == 1:
        variables_by_customer_id.append(variable)
    elif summary_stats["mean"] == 8:
        variables_by_id.append(variable)
    else:
        other_variables.append(variable)

print(f'''

Variables by Customer_ID: {variables_by_customer_id}
Variables by ID: {variables_by_id}
Other variables: {other_variables}

      ''')









# If each ID corresponds to an specific product and this information is real, it means that each customer really has 8 products
# What value does month bring in? Month of what?
# dataset["Month"].unique()

Variables by Customer_ID: ['Name']
Variables by ID: ['ID', 'Month', 'Credit_Utilization_Ratio']
Other variables: ['Age', 'SSN', 'Occupation', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'Credit_Score']

In [57]:
variables_by_customer_id = []
variables_by_id = []
other_variables = []

for variable in dataset.drop("Customer_ID", axis = 1).columns:
    dataset_cleaned = dataset.dropna(subset=[variable])
    summary_stats = dataset_cleaned.groupby("Customer_ID")[variable].nunique().describe()
    top_5_frequent = dataset_cleaned[variable].value_counts().head(5)
    least_5_frequent = dataset_cleaned[variable].value_counts().tail(5)
    print(summary_stats)
    print(f'''
          Top: {top_5_frequent},
          Least: {least_5_frequent}
          ''')
    if dataset.groupby("Customer_ID")[variable].nunique().describe()["mean"] == 1:
        variables_by_customer_id.append(variable)
    elif dataset.groupby("Customer_ID")[variable].nunique().describe()["mean"] == 8:
        variables_by_id.append(variable)
    else:
        other_variables.append(variable)

count    12500.0
mean         8.0
std          0.0
min          8.0
25%          8.0
50%          8.0
75%          8.0
max          8.0
Name: ID, dtype: float64

          Top: ID
0x1602     1
0x19c88    1
0x19caa    1
0x19ca5    1
0x19ca4    1
Name: count, dtype: int64,
          Least: ID
0xd94d     1
0xd94c     1
0xd94b     1
0xd94a     1
0x25fed    1
Name: count, dtype: int64

count    12500.0
mean         8.0
std          0.0
min          8.0
25%          8.0
50%          8.0
75%          8.0
max          8.0
Name: Month, dtype: float64

          Top: Month
August      12384
February    12376
May         12375
March       12373
April       12372
Name: count, dtype: int64,
          Least: Month
MarcE      1
ADgust     1
Say        1
Marcm      1
Jonuary    1
Name: count, dtype: int64

count    12500.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: Name, dtype: float64

          Top: Name
Langep      44
Stevex      44
Vaughanl    39
Jessicad    39
Raymondr    38
Name: count, dtype: int64,
          Least: Name
Alina Selyukhg    4
Habboushg         4
Mortimerq         4
Ronaldf           4
Timothyl          3
Name: count, dtype: int64

count    12500.000000
mean         2.130880
std          0.826973
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          6.000000
Name: Age, dtype: float64

          Top: Age
38    2831
28    2825
31    2803
26    2786
32    2746
Name: count, dtype: int64,
          Least: Age
7178     1
5621     1
3988_    1
1908     1
1342     1
Name: count, dtype: int64

count    12500.000000
mean         1.368720
std          0.482477
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          2.000000
Name: SSN, dtype: float64

          Top: SSN
#F%$D@*&8      5565
078-73-5990       8
107-09-2657       8
509-64-1439       8
196-11-8284       8
Name: count, dtype: int64,
          Least: SSN
838-33-4811    4
753-72-2651    4
604-62-6133    4
286-44-9634    4
331-28-1921    4
Name: count, dtype: int64

count    12500.000000
mean         1.514640
std          0.554302
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          3.000000
Name: Occupation, dtype: float64

          Top: Occupation
_______      7055
Lawyer       6520
Architect    6285
Engineer     6284
Scientist    6239
Name: count, dtype: int64,
          Least: Occupation
journalist    57
writer        56
scientist     56
architect     54
lawyer        51
Name: count, dtype: int64

count    12500.000000
mean         1.516080
std          0.567527
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          5.000000
Name: Annual_Income, dtype: float64

          Top: Annual_Income
17273.83    16
20867.67    16
36585.12    16
33029.66    15
95596.35    15
Name: count, dtype: int64,
          Least: Annual_Income
36780.03_    1
14728.21_    1
55910.68_    1
33032.46_    1
8750127.0    1
Name: count, dtype: int64

count    12500.000000
mean         1.059680
std          0.236902
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: Monthly_Inhand_Salary, dtype: float64

          Top: Monthly_Inhand_Salary
6358.956667    15
6082.187500    15
2295.058333    15
6769.130000    15
3080.555000    14
Name: count, dtype: int64,
          Least: Monthly_Inhand_Salary
6623.030000    1
4946.335000    1
9204.888026    1
622.937198     1
3002.973195    1
Name: count, dtype: int64

count    12500.000000
mean         1.130560
std          0.360117
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          5.000000
Name: Num_Bank_Accounts, dtype: float64

          Top: Num_Bank_Accounts
6.0    12988
7.0    12814
8.0    12757
4.0    12171
5.0    12103
Name: count, dtype: int64,
          Least: Num_Bank_Accounts
1470.0    1
887.0     1
211.0     1
1221.0    1
697.0     1
Name: count, dtype: int64

count    12500.000000
mean         1.207200
std          0.444842
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          5.000000
Name: Num_Credit_Card, dtype: float64

          Top: Num_Credit_Card
5.0    18441
7.0    16604
6.0    16537
4.0    14013
3.0    13267
Name: count, dtype: int64,
          Least: Num_Credit_Card
204.0     1
1240.0    1
825.0     1
1148.0    1
679.0     1
Name: count, dtype: int64

count    12500.000000
mean         1.162640
std          0.395829
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          4.000000
Name: Interest_Rate, dtype: float64

          Top: Interest_Rate
8.0     5005
5.0     4976
6.0     4717
12.0    4538
10.0    4537
Name: count, dtype: int64,
          Least: Interest_Rate
2147.0    1
4995.0    1
1899.0    1
2120.0    1
5729.0    1
Name: count, dtype: int64

count    12500.000000
mean         1.632880
std          0.663851
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          4.000000
Name: Num_of_Loan, dtype: float64

          Top: Num_of_Loan
3    14368
2    14236
4    14003
0    10371
1    10076
Name: count, dtype: int64,
          Least: Num_of_Loan
1320_    1
103      1
1444     1
392      1
966      1
Name: count, dtype: int64

count    11074.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: Type_of_Loan, dtype: float64

          Top: Type_of_Loan
Not Specified              1406
Credit-Builder Loan        1279
Personal Loan              1271
Debt Consolidation Loan    1264
Student Loan               1238
Name: count, dtype: int64,
          Least: Type_of_Loan
Payday Loan, Home Equity Loan, Payday Loan, Debt Consolidation Loan, Personal Loan, Debt Consolidation Loan, and Debt Consolidation Loan         7
Mortgage Loan, Not Specified, Home Equity Loan, Auto Loan, Auto Loan, Home Equity Loan, Debt Consolidation Loan, Auto Loan, and Personal Loan    7
Credit-Builder Loan, Student Loan, Debt Consolidation Loan, Debt Consolidation Loan, Credit-Builder Loan, and Not Specified                      7
Debt Consolidation Loan, Home Equity Loan, Personal Loan, Student Loan, Debt Consolidation Loan, and Student Loan                                7
Not Specified, Home Equity Loan, Auto Loan, Credit-Builder Loan, Credit-Builder Loan, and Auto Loan                                              7
Name: count, dtype: int64

count    12500.000000
mean         2.987360
std          1.111512
min          1.000000
25%          2.000000
50%          3.000000
75%          4.000000
max          7.000000
Name: Delay_from_due_date, dtype: float64

          Top: Delay_from_due_date
15    3596
13    3424
8     3324
14    3313
10    3281
Name: count, dtype: int64,
          Least: Delay_from_due_date
-4     62
 65    56
-5     33
 66    32
 67    22
Name: count, dtype: int64

count    12500.00000
mean         3.33824
std          1.08676
min          1.00000
25%          3.00000
50%          3.00000
75%          4.00000
max          8.00000
Name: Num_of_Delayed_Payment, dtype: float64

          Top: Num_of_Delayed_Payment
19    5327
17    5261
16    5173
10    5150
18    5081
Name: count, dtype: int64,
          Least: Num_of_Delayed_Payment
2616    1
848_    1
4134    1
1530    1
2047    1
Name: count, dtype: int64

count    12500.00000
mean         2.56536
std          1.06841
min          1.00000
25%          2.00000
50%          2.00000
75%          3.00000
max          7.00000
Name: Changed_Credit_Limit, dtype: float64

          Top: Changed_Credit_Limit
_        2091
8.22      133
11.5      127
11.32     126
7.35      121
Name: count, dtype: int64,
          Least: Changed_Credit_Limit
-1.84                 1
0.8899999999999999    1
28.06                 1
1.5599999999999996    1
21.17                 1
Name: count, dtype: int64

count    12500.000000
mean         1.698480
std          0.601926
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          4.000000
Name: Num_Credit_Inquiries, dtype: float64

          Top: Num_Credit_Inquiries
4.0    11271
3.0     8890
6.0     8111
7.0     8058
2.0     8028
Name: count, dtype: int64,
          Least: Num_Credit_Inquiries
1721.0    1
1750.0    1
2397.0    1
621.0     1
74.0      1
Name: count, dtype: int64

count    12500.000000
mean         1.838160
std          0.368319
min          1.000000
25%          2.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: Credit_Mix, dtype: float64

          Top: Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64,
          Least: Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64

count    12500.000000
mean         1.078480
std          0.268936
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: Outstanding_Debt, dtype: float64

          Top: Outstanding_Debt
1360.45    24
460.46     23
1151.7     23
1109.03    23
467.7      16
Name: count, dtype: int64,
          Least: Outstanding_Debt
245.46_     1
645.77_     1
174.79_     1
1181.13_    1
1013.53_    1
Name: count, dtype: int64

count    12500.0
mean         8.0
std          0.0
min          8.0
25%          8.0
50%          8.0
75%          8.0
max          8.0
Name: Credit_Utilization_Ratio, dtype: float64

          Top: Credit_Utilization_Ratio
26.822620    1
28.327949    1
30.016576    1
25.478841    1
33.933755    1
Name: count, dtype: int64,
          Least: Credit_Utilization_Ratio
30.687138    1
38.730069    1
30.017515    1
27.279794    1
34.192463    1
Name: count, dtype: int64

count    12500.000000
mean         7.277600
std          0.806939
min          3.000000
25%          7.000000
50%          7.000000
75%          8.000000
max          8.000000
Name: Credit_History_Age, dtype: float64

          Top: Credit_History_Age
15 Years and 11 Months    446
19 Years and 4 Months     445
19 Years and 5 Months     444
17 Years and 11 Months    443
19 Years and 3 Months     441
Name: count, dtype: int64,
          Least: Credit_History_Age
0 Years and 3 Months     20
0 Years and 2 Months     15
33 Years and 7 Months    14
33 Years and 8 Months    12
0 Years and 1 Months      2
Name: count, dtype: int64

count    12500.000000
mean         1.640720
std          0.479809
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: Payment_of_Min_Amount, dtype: float64

          Top: Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64,
          Least: Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

count    12500.000000
mean         1.314880
std          0.550849
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          5.000000
Name: Total_EMI_per_month, dtype: float64

          Top: Total_EMI_per_month
0.000000     10613
49.574949        8
73.533361        8
22.960835        8
38.661127        8
Name: count, dtype: int64,
          Least: Total_EMI_per_month
36408.0    1
23760.0    1
24612.0    1
24325.0    1
58638.0    1
Name: count, dtype: int64

count    12500.000000
mean         7.591920
std          0.627871
min          3.000000
25%          7.000000
50%          8.000000
75%          8.000000
max          8.000000
Name: Amount_invested_monthly, dtype: float64

          Top: Amount_invested_monthly
__10000__            4305
0.0                   169
80.41529543900253       1
36.66235139442514       1
89.7384893604547        1
Name: count, dtype: int64,
          Least: Amount_invested_monthly
36.541908593249026    1
93.45116318631192     1
140.80972223052834    1
38.73937670100975     1
167.1638651610451     1
Name: count, dtype: int64

count    12500.000000
mean         4.487040
std          0.978728
min          1.000000
25%          4.000000
50%          4.000000
75%          5.000000
max          8.000000
Name: Payment_Behaviour, dtype: float64

          Top: Payment_Behaviour
Low_spent_Small_value_payments      25487
High_spent_Medium_value_payments    17526
Low_spent_Medium_value_payments     13846
High_spent_Large_value_payments     13712
High_spent_Small_value_payments     11326
Name: count, dtype: int64,
          Least: Payment_Behaviour
low_spent_large_value_payments      15
low_spent_medium_value_payments     15
high_spent_medium_value_payments    14
high_spent_small_value_payments     14
high_spent_large_value_payments      9
Name: count, dtype: int64

count    12500.000000
mean         7.904000
std          0.367797
min          3.000000
25%          8.000000
50%          8.000000
75%          8.000000
max          8.000000
Name: Monthly_Balance, dtype: float64

          Top: Monthly_Balance
__-333333333333333333333333333__    9
312.49408867943663                  1
415.32532309844316                  1
252.08489793906085                  1
254.9709216273975                   1
Name: count, dtype: int64,
          Least: Monthly_Balance
366.2890379762706     1
151.1882696261166     1
306.75027851710234    1
278.8720257394474     1
393.6736955618808     1
Name: count, dtype: int64

count    12500.000000
mean         1.585760
std          0.497459
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          3.000000
Name: Credit_Score, dtype: float64

          Top: Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64,
          Least: Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [ ]:
# Are there duplicated values in the dataset?

dataset.duplicated().sum()

# No duplicated rows

0